:root {
    --bg-color: #f4fcff;
    --text-color: #2b2b2b;
    --grey: #dfdfdf;
    --main-color: #50a3e7;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --error-color: #ff3333;
  }

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin-top: 15px;
    box-sizing: border-box;
}

/* Common Styles */

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.main-title {
    text-align: left;
    color: var(--main-color);
    margin: auto;
    margin-left: 44px;
}

main {
    display: flex;
    margin: auto;
}

aside {
    padding: 44px;
    padding-top: 5px;
}

p {
    text-align: justify;
}

.paragraph sup {
    font-size: 11px;
}

.mb-1 {
    margin-bottom: 30px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.d-hidden {
    display: none;
}

.form-btn-container {
    margin-bottom: 16px;
    gap: 13px;
    display: flex;
}

.btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    font-weight: 500;
    font-size: larger;
}

.btn:hover {
    background-color: #2b84cc;
}

.bg-reset {
    background-color: var(--error-color);
    color: white;
}

.bg-reset:hover {
    background-color: #cf0c0c;
}

/* Form action */

.form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 100%;
    margin: 10px 0;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.form .form-input {
    display: block;
    width: 100%;
    font-family: monospace;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    font-size: 1.3rem;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: padding-box;
    appearance: none;
    border: 1px solid var(--grey);
}

.form .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-top: 0;
}

.form .input-group > .form-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.form .input-group-icon {
    background-color: var(--main-color);
    border-color: var(--grey);
    background-clip: padding-box;
    appearance: none;
    border: 1px solid var(--grey);
    padding: 10px;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
}

.input-group .fas.fa-pen {
    color: white;
    padding: 5px;
    margin: 0;
}

/* Fitur Action */

.fitur {
    margin-bottom: 30px;
    margin-left: 0;
    padding-left: 20px;
}

.fitur li {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/* Result Action */

.sub-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    font-size: 18px;
    margin: 0;
}

.risk-title {
    font-size: 18px;
    text-align: center;
    margin: auto;
}
  
.result-bmi {
    font-size: 40px;
}
  
.result-desc {
    margin: 10px 0 20px;
    font-size: 15px;
    text-align: center;
}

.list-risk {
    text-decoration: none;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

.list-title {
    font-size: 18px;
}

.button-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}

.button-cta button {
    font-size: 13px;
    margin: 0 10px;
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.img {
    width: 150px;
    width: 150px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 8px; 
    margin-top: auto;
}

/* Responsive Action */

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        width: 100%;
    }
}